<section class="bg-white py-8 antialiased md:py-16">
  <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
    <h2 class="text-xl font-semibold text-gray-900 sm:text-2xl">
      Shopping Cart
    </h2>

    <div class="mt-6 sm:mt-8 md:gap-6 lg:flex lg:items-start xl:gap-8">
      <div class="mx-auto w-full flex-none lg:max-w-2xl xl:max-w-4xl">
        <div class="space-y-6">
          @for (item of cart()?.products; track item.product.id) {
          <div
            class="rounded-lg border border-gray-200 bg-white p-4 shadow-sm md:p-6"
            [ngClass]="animationClass($index)"
            [style.animation-delay.s]="$index * 0.1"
          >
            <div
              class="space-y-4 md:flex md:items-center md:justify-between md:gap-6 md:space-y-0"
            >
              <a
                [routerLink]="['/product', item.product.id]"
                class="shrink-0 md:order-1"
              >
                <img
                  class="h-20 w-20"
                  [src]="[item.product.image]"
                  [alt]="[item.product.name]"
                />
              </a>

              <label for="counter-input" class="sr-only"
                >Choose quantity:</label
              >
              <div
                class="flex items-center justify-between md:order-3 md:justify-end"
              >
                <div class="flex items-center">
                  <button
                    (click)="modifyQuantity(item, -1)"
                    type="button"
                    id="decrement-button"
                    data-input-counter-decrement="counter-input"
                    class="inline-flex h-5 w-5 shrink-0 items-center justify-center rounded-md border border-gray-300 bg-gray-100 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-100"
                  >
                    <svg
                      class="h-2.5 w-2.5 text-gray-900"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 18 2"
                    >
                      <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M1 1h16"
                      />
                    </svg>
                  </button>
                  <input
                    type="text"
                    id="counter-input"
                    data-input-counter
                    class="w-10 shrink-0 border-0 bg-transparent text-center text-sm font-medium text-gray-900 focus:outline-none focus:ring-0"
                    placeholder=""
                    [value]="item.quantity"
                    disabled
                  />
                  <button
                    (click)="modifyQuantity(item, 1)"
                    type="button"
                    id="increment-button"
                    data-input-counter-increment="counter-input"
                    class="inline-flex h-5 w-5 shrink-0 items-center justify-center rounded-md border border-gray-300 bg-gray-100 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-100"
                  >
                    <svg
                      class="h-2.5 w-2.5 text-gray-900"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 18 18"
                    >
                      <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M9 1v16M1 9h16"
                      />
                    </svg>
                  </button>
                </div>
                <div class="text-end md:order-4 md:w-32">
                  <p class="text-base font-bold text-gray-900">
                    {{ item.product.price | currency : "EUR" }}
                  </p>
                </div>
              </div>

              <div
                class="w-full min-w-0 flex-1 space-y-4 md:order-2 md:max-w-md"
              >
                <a
                  [routerLink]="['/product', item.product.id]"
                  class="text-base font-medium text-gray-900 hover:underline"
                >
                  {{ item.product.name }}
                </a>

                <div class="flex items-center gap-4">
                  <button
                    (click)="updateWishList(item.product)"
                    type="button"
                    class="inline-flex items-center text-sm font-medium hover:underline transition-colors duration-200"
                    [ngClass]="{
                      'text-red-500': item.product.liked,
                    }"
                  >
                    <svg
                      class="h-5 w-5 mr-1"
                      xmlns="http://www.w3.org/2000/svg"
                      [attr.fill]="item.product.liked ? 'currentColor' : 'none'"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                      stroke-width="2"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M12 6C6.5 1 1 8 5.8 13l6.2 7 6.2-7C23 8 17.5 1 12 6Z"
                      />
                    </svg>
                    {{
                      item.product.liked
                        ? "Quitar de favoritos"
                        : "Añadir a favoritos"
                    }}
                  </button>

                  <button
                    (click)="removeFromCart(item.product.id)"
                    type="button"
                    class="inline-flex items-center text-sm font-medium text-red-600 hover:underline dark:text-red-500"
                  >
                    <svg
                      class="me-1.5 h-5 w-5"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      fill="none"
                      viewBox="0 0 24 24"
                    >
                      <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M6 18 17.94 6M18 18 6.06 6"
                      />
                    </svg>
                    Eliminar
                  </button>
                </div>
              </div>
            </div>
          </div>
          }
        </div>
        <div class="hidden xl:mt-8 xl:block">
          <h3 class="text-2xl font-semibold text-gray-900">
            Productos que te pueden interesar
          </h3>
          <div class="mt-6 grid grid-cols-3 gap-4 sm:mt-8">
            @for(prod of randomProducts; track $index) {
            <product-card [product]="prod" />
            }
          </div>
        </div>
      </div>

      <div class="mx-auto mt-6 max-w-4xl flex-1 space-y-6 lg:mt-0 lg:w-full">
        <div
          class="space-y-4 rounded-lg border border-gray-200 bg-white p-4 shadow-sm sm:p-6"
        >
          <p class="text-xl font-semibold text-gray-900">
            Resumen de la compra
          </p>

          <div class="space-y-4">
            <div class="space-y-2">
              <dl class="flex items-center justify-between gap-4">
                <dt class="text-base font-normal text-gray-500">Precio</dt>
                <dd class="text-base font-medium text-gray-900">
                  {{ cart()?.totalPrice | currency : "EUR" }}
                </dd>
              </dl>

              @if(haveDiscount){
              <dl
                class="flex items-center justify-between gap-4 amimate___animated"
              >
                <dt
                  class="text-base font-normal text-gray-500 dark:text-gray-400"
                >
                  Ahorrado
                </dt>
                <dd class="text-base font-medium text-green-600">
                  -{{ haveDiscount | currency : "EUR" }}
                </dd>
              </dl>
              }
            </div>

            <dl
              class="flex items-center justify-between gap-4 border-t border-gray-200 pt-2"
            >
              <dt class="text-base font-bold text-gray-900">Total</dt>
              <dd class="text-base font-bold text-gray-900">
                {{ cart()?.totalPrice | currency : "EUR" }}
              </dd>
            </dl>
          </div>

          <button
            (click)="showPayment()"
            [disabled]="cart() == null || cart()?.products?.length == 0"
            class="flex w-full items-center justify-center rounded-lg bg-primary-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300"
          >
            Proceder al pago
          </button>

          <div class="flex items-center justify-center gap-2">
            <span class="text-sm font-normal text-gray-500 dark:text-gray-400">
              o
            </span>
            <a
              routerLink="/"
              title=""
              class="inline-flex items-center gap-2 text-sm font-medium text-primary-700 underline hover:no-underline"
            >
              Continuar Comprando
              <svg
                class="h-5 w-5"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M19 12H5m14 0-4 4m4-4-4-4"
                />
              </svg>
            </a>
          </div>
        </div>

        <div
          class="space-y-4 rounded-lg border border-gray-200 bg-white p-4 shadow-sm sm:p-6"
        >
          <form class="space-y-4">
            <div>
              <label
                for="voucher"
                class="mb-2 block text-sm font-medium text-gray-900"
              >
                Tienes un código de descuento?
              </label>
              <input
                type="text"
                id="voucher"
                class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500"
                required
              />
            </div>
            <button
              type="button"
              (click)="applyDiscount()"
              class="flex w-full items-center justify-center rounded-lg bg-primary-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
            >
              Aplicar codigo
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<p-dialog
  [modal]="true"
  [closeOnEscape]="true"
  [appendTo]="'body'"
  [(visible)]="goToPayment"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [draggable]="false"
  [resizable]="false"
  [baseZIndex]="10000"
>
  <payment-form
    *ngIf="goToPayment"
    [cart]="cart()"
    (paymentSuccess)="paymentSuccess()"
  />

  @if (loadingPayment) {
  <div class="card flex justify-center align-middle">
    <p-progressSpinner
      class="m-5"
      strokeWidth="8"
      fill="transparent"
      animationDuration=".5s"
      [style]="{ width: '50px', height: '50px' }"
    />
  </div>
  }
</p-dialog>
