<div
  class="h-[calc(100vh-9.5rem)] bg-gradient-to-br from-gray-100 to-gray-200 p-6 flex items-center justify-center"
>
  <div
    class="loader h-full w-full flex justify-center items-center"
    *ngIf="isLoading"
  ></div>

  <div
    *ngIf="!isLoading && product"
    class="flex flex-col md:flex-row gap-8 max-w-6xl w-full bg-white shadow-xl rounded-2xl overflow-hidden border border-gray-200"
  >
    <!-- Imagen con contenedor y efecto blur suave para baja resolución -->
    <div
      class="w-full md:w-[250px] aspect-square overflow-hidden flex items-center justify-center bg-gray-50"
    >
      <img
        [src]="product.image"
        [alt]="product.name"
        class="w-full h-full object-contain blur-[0.4px] rounded-none p-2"
        loading="lazy"
      />
    </div>

    <!-- Detalles del producto -->
    <div class="flex flex-col justify-between p-6 w-full">
      <div>
        <h1 class="text-3xl font-extrabold text-gray-800 mb-2">
          {{ product.name }}
        </h1>
        <p class="text-gray-600 text-sm leading-relaxed mb-4">
          {{ product.description }}
        </p>

        <div
          class="grid grid-cols-1 sm:grid-cols-2 gap-4 text-sm text-gray-700"
        >
          <div class="flex items-center gap-2">
            <i class="pi pi-user text-blue-500"></i>
            <a
              class="font-medium"
              [routerLink]="['/search']"
              [queryParams]="{ provider: product.provider.name }"
              >{{ product.provider.name | titlecase }}</a
            >
          </div>
          <div class="flex items-center gap-2">
            <i class="pi pi-map-marker text-red-400"></i>
            <a class="font-medium" [href]="product.provider.address">{{
              product.provider.address
            }}</a>
          </div>
          <div class="flex items-center gap-2">
            <i class="pi pi-tag text-green-500"></i>
            <a
              class="font-medium"
              [routerLink]="['/search']"
              [queryParams]="{ category: product.category.name }"
              >{{ product.category.name | titlecase }}</a
            >
          </div>
        </div>
      </div>

      <!-- Precio y botón -->
      <div class="mt-6 flex items-center justify-between border-t pt-4">
        <div class="text-2xl font-semibold text-gray-800">
          {{ product.price | currency : "EUR" }}
        </div>
        <div class="flex-grow flex justify-end gap-2">
          <p-inputnumber
            class="w-34!"
            [inputStyle]="{ width: '30%' }"
            [min]="1"
            [max]="product.stock"
            [disabled]="product.stock === 0"
            [(ngModel)]="quantity"
            [showButtons]="true"
            buttonLayout="horizontal"
            inputId="horizontal"
            spinnerMode="horizontal"
            [step]="1"
          >
            <ng-template #incrementbuttonicon>
              <span class="pi pi-plus"></span>
            </ng-template>
            <ng-template #decrementbuttonicon>
              <span class="pi pi-minus"></span>
            </ng-template>
          </p-inputnumber>
          <span class="text-gray-500 text-sm ml-2 my-4">
            / {{ product.stock }} unidades
          </span>
          <button
            pRipple
            (click)="addToCart()"
            class="flex items-center gap-2 bg-blue-600 text-white px-5 py-2 rounded-lg ml-2 hover:bg-blue-700 transition duration-200 ease-in-out cursor-pointer"
          >
            <i class="pi pi-shopping-cart"></i>
            Añadir al carrito
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
