<main class="mt-16 w-full h-[calc(100vh-4rem)] bg-gray-100">
  <div class="p-4 flex gap-8">
    <img [src]="product.image" [alt]="product.name" />
    <div class="card">
      <h1 class="text-3xl font-bold">{{product.name}}</h1>
      <p class="text-gray-500">
        {{product.description}}
      </p>
      <div class="flex gap-4 mt-4">
        <span class="text-xl font-semibold">{{product.price}}</span>
        <button class="bg-blue-500 text-white px-4 py-2 rounded">
          <i class="pi pi-shopping-cart"></i>
          Añadir al carrito
        </button>
      </div>
    </div>
  </div>
</main>
