<p-toast />
<p-confirmpopup />

<section class="bg-white antialiased dark:bg-gray-900 pt-20 h-screen w-full">
  <div class="mx-auto max-w-3/4 px-4 2xl:px-0">
    <div class="mx-auto max-w-5xl">
      <div class="gap-4 sm:flex sm:items-center sm:justify-between">
        <h2
          class="text-xl font-semibold text-gray-900 dark:text-white sm:text-2xl"
        >
          Mis pedidos
          <p class="text-sm text-gray-500 dark:text-gray-400">
            Aquí puedes ver el estado de tus pedidos y detalles de cada uno.
          </p>
        </h2>

        <div
          class="mt-6 gap-4 space-y-4 sm:mt-0 sm:flex sm:items-center sm:justify-end sm:space-y-0"
        >
          <div>
            <label
              for="order-type"
              class="sr-only mb-2 block text-sm font-medium text-gray-900 dark:text-white"
              >Select order type</label
            >
            <select
              id="order-type"
              class="block w-full min-w-[8rem] rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500"
            >
              <option selected>All orders</option>
              <option value="pre-order">Pre-order</option>
              <option value="transit">In transit</option>
              <option value="confirmed">Confirmed</option>
              <option value="cancelled">Cancelled</option>
            </select>
          </div>

          <span class="inline-block text-gray-500 dark:text-gray-400">
            from
          </span>

          <div>
            <label
              for="duration"
              class="sr-only mb-2 block text-sm font-medium text-gray-900 dark:text-white"
              >Select duration</label
            >
            <select
              id="duration"
              class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500"
            >
              <option selected>this week</option>
              <option value="this month">this month</option>
              <option value="last 3 months">the last 3 months</option>
              <option value="lats 6 months">the last 6 months</option>
              <option value="this year">this year</option>
            </select>
          </div>
        </div>
      </div>

      <div class="mt-6 flow-root sm:mt-8">
        <div class="divide-y divide-gray-200 dark:divide-gray-700">
          @for (order of orders(); track $index) {
          <div
            class="flex flex-wrap items-center gap-y-4 py-6 my-4 px-3 clearfix bg-green-50 dark:bg-gray-600 rounded-lg shadow-sm"
            [ngClass]="animationClass($index)"
            [style.animation-delay.s]="$index * 0.2"
          >
            <dl class="w-full sm:w-1/4 lg:w-auto lg:flex-1">
              <dt
                class="text-base font-medium text-gray-500 dark:text-gray-400"
              >
                ID pedido:
              </dt>
              <dd
                class="mt-1.5 text-base font-semibold text-gray-900 dark:text-white"
              >
                #{{ order.id | slice : 4 : 18 }}
              </dd>
            </dl>

            <dl class="w-1/2 sm:w-1/4 lg:w-auto lg:flex-1">
              <dt
                class="text-base font-medium text-gray-500 dark:text-gray-400"
              >
                Fecha de pedido:
              </dt>
              <dd
                class="mt-1.5 text-base font-semibold text-gray-900 dark:text-white"
              >
                {{ order.createdAt | date : "MMM d, y" }}
              </dd>
            </dl>

            <dl class="w-1/2 sm:w-1/4 lg:w-auto lg:flex-1">
              <dt
                class="text-base font-medium text-gray-500 dark:text-gray-400"
              >
                Total:
              </dt>
              <dd
                class="mt-1.5 text-base font-semibold text-gray-900 dark:text-white"
              >
                {{ order.totalPrice | currency : "EUR" }}
              </dd>
            </dl>

            <dl class="w-1/2 sm:w-1/4 lg:w-auto lg:flex-1">
              <dt
                class="text-base font-medium text-gray-500 dark:text-gray-400"
              >
                Metodo de pago:
              </dt>
              <dd
                class="mt-1.5 text-base font-semibold text-gray-900 dark:text-white"
              >
                {{ order.paymentMethod | paymentMethod }}
              </dd>
            </dl>

            <dl class="w-1/2 sm:w-1/4 lg:w-auto lg:flex-1">
              <dt
                class="text-base font-medium text-gray-500 dark:text-gray-400"
              >
                Estado:
              </dt>
              <span
                class="mt-1.5 flex items-center gap-2 text-base font-semibold text-gray-900 dark:text-white"
              >
                <i
                  [appOrderStatus]="order.status"
                  class="flex gap-3 p-2 rounded-full"
                ></i>
                {{ order.status | titlecase }}
              </span>
            </dl>

            <div
              class="w-full grid sm:grid-cols-2 lg:flex lg:w-64 lg:items-center lg:justify-end gap-4"
            >
              <p-button
                *ngIf="order.status !== 'CANCELLED'"
                (onClick)="cancelOrder($event, order.id)"
                label="Cancelar pedido"
                icon="pi pi-times"
                severity="danger"
                [outlined]="true"
              />
              <p-button
                (onClick)="viewOrderDetails(order.items)"
                label="Ver detalles"
                icon="pi pi-eye"
                severity="info"
                [outlined]="true"
              />
            </div>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
</section>

<p-dialog
  [(visible)]="showOrderDetails"
  [modal]="true"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  @for (productCart of orderToShow; track $index) {
  <li class="flex py-6">
    <div
      class="size-24 shrink-0 overflow-hidden rounded-md border border-gray-200"
    >
      <img
        [src]="productCart?.product?.image"
        [alt]="productCart?.product?.name"
        class="size-full object-cover"
      />
    </div>
    <div class="ml-4 flex flex-1 flex-col">
      <div class="flex justify-between text-base font-medium text-gray-900">
        <h3>
          <a
            [routerLink]="['../product', productCart?.product?.id]"
            class="hover:text-blue-300 transition-all duration-300 ease-in"
          >
            {{ productCart?.product?.name }}
          </a>
        </h3>
        <p class="ml-4 text-gray-900">
          {{ productCart?.product?.price | currency : "EUR" }}
        </p>
      </div>
      <p class="mt-1 text-sm text-gray-500">
        {{ productCart?.product?.category?.name }}
      </p>
      <div class="flex flex-1 items-end justify-between text-sm mt-2">
        <p class="text-gray-500">Cantidad: {{ productCart?.quantity }}</p>
      </div>
    </div>
  </li>

  }
</p-dialog>
