.banner {
  background-image: url("/images/banner.png");
  background-size: 100% 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  height: 50vh;
  width: 100%;
}

@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-move {
  animation: gradient-move 2s ease infinite;
}
