<div class="fixed top-0 w-full px-4 py-1 card shadow-3xl z-100">
  <p-menubar [model]="items" [baseZIndex]="1000" class="bg-white dark:bg-gray-800">
    <ng-template #item let-item let-root="root">
      <a
        pRipple
        class="flex items-center p-menubar-item-link"
        [routerLink]="item.routerLink"
        routerLinkActive="active-route-class"
      >
        <i *ngIf="item.icon" [ngClass]="item.icon + ' mr-2'"></i>
        <span>{{ item.label }}</span>
        <p-badge
          *ngIf="item.badge"
          [ngClass]="{ 'ml-auto': !root, 'ml-2': root }"
          [value]="item.badge"
        />
        <span
          *ngIf="item.shortcut"
          class="p-1 ml-auto text-xs border rounded border-surface bg-emphasis text-muted-color"
          >{{ item.shortcut }}</span
        >
        <i
          *ngIf="item.items"
          [ngClass]="['ml-auto pi', root ? 'pi-angle-down' : 'pi-angle-right']"
        ></i>
      </a>
    </ng-template>
    <ng-template #end>
      <div class="flex items-center gap-4">
        <!-- <i
          id="darkMode"
          class="cursor-pointer"
          [ngClass]="getIconMode()"
          tabindex="0"
          (click)="toogleDarkMode()"
          (keydown.enter)="toogleDarkMode()"
          (keydown.space)="toogleDarkMode()"
        ></i> -->
        <i
          class="cursor-pointer"
          tabindex="0"
          [ngClass]="isLogged()"
          (click)="actionLogged()"
        ></i>

        <i
          class="text-2xl cursor pointer pi pi-shopping-cart cart-icon"
          style="font-size: 1.3rem"
          pBadge
          (click)="actionCart()"
          [value]="(cart()?.products)!.length"
        ></i>
        <app-cart [showCart]="showCart" (showCartChange)="showCartChange()" />
      </div>
    </ng-template>
  </p-menubar>
</div>
