<div #filter>
  <button
    class="mt-20 md:hidden fixed top-4 left-4 z-50 p-2 rounded-full bg-green-500 text-white shadow-lg hover:bg-green-600 transition-transform duration-300"
    (click)="toggleMenu()"
  >
    <svg
      class="w-6 h-6"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M4 6h16M4 12h16M4 18h16"
      ></path>
    </svg>
  </button>

  <!-- Panel de filtros -->
  <aside
    [ngClass]="{
      'translate-x-0 opacity-100': isMenuOpen,
      '-translate-x-full opacity-0': !isMenuOpen
    }"
    class="fixed md:static top-0 left-0 z-40 w-64 h-full md:h-auto bg-white rounded-none md:rounded shadow-lg transition-all duration-300 transform md:translate-x-0 md:opacity-100"
  >
    <div
      class="bg-green-100 h-full md:min-h-[calc(100vh-11rem)] p-4 flex flex-col gap-8 overflow-y-auto"
    >
      <!-- Encabezado -->
      <div
        class="flex items-center justify-between border-b pb-2 border-green-300 mt-32 md:mt-0"
      >
        <h2 class="text-lg font-semibold text-green-800">Filtros</h2>
        <button
          (click)="clearFilters()"
          class="flex items-center gap-1 px-3 py-1.5 rounded-md bg-blue-500 text-white hover:bg-blue-600 transition-all duration-200 transform hover:scale-105"
        >
          <i class="pi pi-trash"></i> Limpiar
        </button>
      </div>

      <!-- Filtros aplicados -->
      <div>
        <span class="text-green-800 font-medium text-sm"
          >Filtros aplicados</span
        >
        <div class="flex flex-wrap gap-2 mt-2">
          @if (selectedCategoryValue) {
          <p-chip
            [removable]="true"
            (onRemove)="
              selectedCategoryValue = null; selectedCategory.emit(null)
            "
            class="animate__animated animate__fadeIn"
          >
            {{ selectedCategoryValue.name }}
          </p-chip>
          } @if (selectedProviderValue) { @for (provider of
          selectedProviderValue; track $index) {
          <p-chip
            [removable]="true"
            (onRemove)="
              selectedProviderValue = null; selectedProvider.emit(null)
            "
            class="animate__animated animate__fadeIn"
          >
            {{ provider.name }}
          </p-chip>
          } } @if (rangePricesValue[0] !== 0 || rangePricesValue[1] !== 3000) {
          <p-chip
            [removable]="true"
            (onRemove)="
              rangePricesValue = [0, 3000]; rangePrices.emit(rangePricesValue)
            "
            class="animate__animated animate__fadeIn"
          >
            {{ rangePricesValue[0] }} - {{ rangePricesValue[1] }}
          </p-chip>
          }
        </div>
      </div>

      <!-- Rango de precios -->
      <div class="flex flex-col gap-2">
        <label class="text-green-800 font-medium text-sm"
          >Rango de precios</label
        >
        <p-slider
          [(ngModel)]="rangePricesValue"
          [range]="true"
          (onChange)="rangePrices.emit(rangePricesValue)"
          [min]="0"
          [max]="3000"
          [step]="10"
          class="mt-2"
        />
        <div class="flex justify-between gap-4 text-sm mt-1">
          <input
            type="number"
            pInputText
            readonly
            [disabled]="true"
            [(ngModel)]="rangePricesValue[0]"
            class="w-16 text-center bg-white border border-gray-300 rounded"
          />
          <input
            type="number"
            pInputText
            readonly
            [disabled]="true"
            [(ngModel)]="rangePricesValue[1]"
            class="w-16 text-center bg-white border border-gray-300 rounded"
          />
        </div>
      </div>

      <!-- Proveedores -->
      <div class="flex flex-col gap-2">
        <label class="text-green-800 font-medium text-sm">Proveedores</label>
        <p-listbox
          [(ngModel)]="selectedProviderValue"
          (onChange)="selectedProvider.emit($event.value)"
          [options]="providers()"
          [multiple]="true"
          [checkbox]="true"
          optionLabel="name"
          class="w-full!"
        />
      </div>

      <!-- Categorías -->
      <div class="flex flex-col gap-2">
        <label class="text-green-800 font-medium text-sm">Categorías</label>
        <p-select
          [options]="categories()"
          (onChange)="selectedCategory.emit($event.value)"
          [(ngModel)]="selectedCategoryValue"
          [checkmark]="true"
          optionLabel="name"
          class="w-full!"
        />
      </div>
    </div>
  </aside>
</div>
